 <div class="product-details">

    <section>
        <h3>{{@name}}</h3>
        <small class={{if @isAvailable "text-success" "text-danger"}}>
            {{if @isAvailable "available" "unavailable"}}
        </small>
    

    </section>
 
    <section>
       <p class="fw-bolder">${{@price}}</p>
    </section>
 </div>

{{yield}}